@page
@model WebAppAndAPI.Views.Home.IndexModel
@{
}
<!DOCTYPE html>
<head>
    <title>Async Hotels</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <h1>Welcome to Async Hotels</h1>




</body>